<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="container-fluid">
        <div class="col-md-3">
          <div class="side-column">
            {% include side-header.html %}
          </div>
        </div>
        <div class="col-md-9">
          <main class="page-content" aria-label="Content">
            {{ content }}
          </main>
          {% include footer.html %}
        </div>
    </div>

    {% if site.search %}{% include simple-search-script.html %}{% endif %}
    {% include jquery.html %}
    {% include bootstrap-js.html %}

  </body>

</html>
