<div class="inline-footer site-footer col-md-12">
  <div class="row">
    <div class="col-md-8 col-sm-8 col-xs-12">
    <h2 class="footer-heading">{{ site.title | escape }}</h2>
      <p>
        {% if site.footer_text %}
          <p class="text">{{ site.footer_text }}</p>
        {% endif %}
      </p>
    </div>
    <div class="col-md-4 col-sm-4 hidden-xs text-right">
        <a href="#">Back to top</a>
        <br>
        <br>
        <img src="{{ site.logo_dark }}">
    </div>
  </div>
</div>
